@charset "utf-8";

#img_box{
    box-shadow: 6px 6px 5px 10px darkblue;
}
#empty_box{
    height: 100px;
    width: 100px;
    box-shadow: 6px 6px 5px 10px darkblue inset;
}
#img_box:hover{
    cursor: progress;
}