@charset "utf-8";

.menu-frame{
    padding-left: 100px;
}

.main-frame{
    padding-left: 100px;
}

/* .margin-frame{
    margin-left: 100px;
}
*/
.ads{
    margin-top: 20px;
}
.news-issue-frame{
    margin-top: 12px;
}

.sub-menu{
    
}