@charset "utf-8";

.line-box{
    border: solid black 1px;
}

/* login.html */
.login-box{
    margin-top: 100px;
}
.login-text{
    margin-top: 20px;
}
.login-btn{
    margin-bottom: 20px;
}
.signup-link:hover{
    color: black;
}
.signup-link{
    color: black;
}
.signup-box{
    margin-top: 40px;
}
.cancel{
    margin-left: 10px;
    margin-right: 10px;
}
.comp{
    
}